<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LifecycleServlet</display-name>
    <servlet-name>LifecycleServlet</servlet-name>
    <servlet-class>co.edureka.web.LifecycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifecycleServlet</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>co.edureka.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bankuserpass</display-name>
    <servlet-name>Bankuserpass</servlet-name>
    <servlet-class>co.edureka.web.Bankuserpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bankuserpass</servlet-name>
    <url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createaccount</display-name>
    <servlet-name>Createaccount</servlet-name>
    <servlet-class>co.edureka.web.Createaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createaccount</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreation</display-name>
    <servlet-name>AccountCreation</servlet-name>
    <servlet-class>co.edureka.web.AccountCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreation</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>co.edureka.web.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction2</display-name>
    <servlet-name>Transaction2</servlet-name>
    <servlet-class>co.edureka.web.Transaction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction2</servlet-name>
    <url-pattern>/transaction2</url-pattern>
  </servlet-mapping>
</web-app>